use dba_perform

set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go

/*
====================================================================
-- Author:		Hassan Shamil
-- Create date: 26th March '2008
-- Description:	Creating the Procedure for Email the Error Log File
=====================================================================
*/
--Begin Creating the Procedure
 
Create Procedure [dbo].[sp_ErrorLogtest]
	@NotifyOperator Varchar(255)
	As
Set NoCount On

-- Begin Creating a Global Table & Inserting error log details 
Create Table ##ErrorLogFile
(
	LogDate			datetime,
	ProcessInfo		Varchar(100),
	Detail			Varchar(1000)
)

Insert Into ##ErrorLogFile Exec master..xp_readerrorlog
-- End Creating a Global Table & Inserting error log details 

-- Begin Creating a Tempary Table & Set the Values  for Email 
DECLARE @tableHTML  NVARCHAR(MAX) ;

SET @tableHTML =
    N'<H1>Error Log File</H1>' +
    N'<table border="1">' +
    N'<tr><th>LogDate</th><th>ProcessInfo</th>' +
    N'<th>Text</th>' +
    CAST ( ( SELECT td = logDate,       '',
                    td = ProcessInfo, '',
                    td = Detail, ''                    
              FROM ##ErrorLogFile
              FOR XML PATH('tr'), TYPE 
    ) AS NVARCHAR(MAX) ) +
    N'</table>' ;

-- End Creating a Tempary Table & Set the Values  for Email 

-- Begin Deletion of Global Table 

Delete From ##ErrorLogFile 

--End Deletion of Global Table 

-- Begin setup and execute the Email Process 
Declare	@Subject Varchar(50)
Set	@Subject = 'Error Log File of ' + @@ServerName
Exec msdb.dbo.sp_send_dbmail
	@profile_name = 'SQLMail',
	@recipients = @NotifyOperator,
	@Subject = @Subject,
	@body = @tableHTML,
    @body_format = 'HTML' ;
-- End Setup and Email Executed

-- Droping the Global Table 

Drop Table ##ErrorLogfile
Set NoCount Off

-- End Creating of the Procedure





-------------------------20080327----------------------------------

CREATE procedure Usp_GetErrorLog
@servername sysname
as


declare @sql varchar(255)
set @sql = @servername + '.master.dbo.xp_readerrorlog '

insert into ##ServerErrorLog
(ErrorLogText, ContinuationRow)
exec @sql

update ##ServerErrorLog
set Servername = @servername
where Servername IS NULL

/*
insert into ServerHistory
(ErrorLogText, Servername, EventDate)*/
select 
CASE WHEN ErrorLogText LIKE '%Database backed up%' THEN SUBSTRING(ErrorLogText,34,20) + 
SUBSTRING(ErrorLogText,64,CHARINDEX(',',ErrorLogText,64)-64)
WHEN ErrorLogText LIKE '%DBCC CHECKDB%' THEN RTRIM(SUBSTRING(ErrorLogText,34,221))
WHEN ErrorLogText like '%BACKUP FAILED%' THEN SUBSTRING(ErrorLogText,34,256)
END,
ServerName, 
SUBSTRING(ErrorLogText,1,22)
from ServerErrorLog
where ErrorLogText like '%Database backed up%'
or ErrorLogText like '%DBCC CHECKDB%'
or ErrorLogText like '%BACKUP FAILED%'

------------------------------20080328------------------------------------------------



set ANSI_NULLS ON
set QUOTED_IDENTIFIER ON
go


/*
====================================================================
-- Author:		Hassan Shamil
-- Create date: 26th March '2008
-- Description:	Creating the Procedure for Email the Error Log File
=====================================================================
*/

--Begin Creating the Procedure
 
alter Procedure [dbo].[sp_ErrorLogServer]
	@NotifyOperator Varchar(255)
	As
Set NoCount On


-- Begin Creating a Global Table & Inserting error log details 
create Table ##ErrorLogFile
(
	LogDate			datetime,
	ProcessInfo		Varchar(100),
	Detail			Varchar(1000)
)

Insert Into ##ErrorLogFile Exec master..xp_readerrorlog
-- End Creating a Global Table & Inserting error log details 

-- Begin Creating a Tempary Table & Set the Values  for Email 
DECLARE @tableHTML  NVARCHAR(MAX) ;

SET @tableHTML =
    N'<H1>Error Log File</H1>' +
    N'<table border="1">' +
    N'<tr><th>LogDate</th><th>ProcessInfo</th>' +
    N'<th>Text</th>' +
    CAST ( ( SELECT td = logDate,       '',
                    td = ProcessInfo, '',
                    td = Detail, ''                    
              FROM ##ErrorLogFile
						where Detail like '%Error%'
						or detail like '%Login fail%'
						or detail like '%DBCC CHECKDB%'
						or detail like '%BACKUP FAILED%'
                        and logdate = getdate()
              FOR XML PATH('tr'), TYPE 
    ) AS NVARCHAR(MAX) ) +
    N'</table>' ;

-- End Creating a Tempary Table & Set the Values  for Email 

-- Begin Deletion of Global Table 

Delete From ##ErrorLogFile 

--End Deletion of Global Table 

-- Begin setup and execute the Email Process 
Declare	@Subject Varchar(50)
Set	@Subject = 'Error Log File of ' + @@ServerName
Exec msdb.dbo.sp_send_dbmail
	@profile_name = 'SQLMail',
	@recipients = @NotifyOperator,
	@Subject = @Subject,
	@body = @tableHTML,
    @body_format = 'HTML' ;
-- End Setup and Email Executed

-- Droping the Global Table 

Drop Table ##ErrorLogfile
Set NoCount Off

-- End Creating of the Procedure



=====================================================================================




   Alter Procedure prGetErrorLog
		@servername sysname
		--@s_id sysId	
	as
	set @servername = '@servername'
      declare @sql varchar(255)
		Create Table ##sname 
               (
					
				srvname  varchar(255)
				)
		insert into ##Sname 
				--exec @sql
                  SELECT  srvname  FROM sys.sysservers where srvname = '@servername'


			CREATE TABLE	##ServerErrorLog
						(
							ErrorLogText	varchar(256),
							ContinuationRow bit, --= NULL ,
							Servername		sysname,-- =NULL,
							InsertDate		datetime  
						)
							
			CREATE TABLE	##ServerHistory
						(
							SHID			int, --= NULL ,
							ErrorLogText	varchar(256),-- = NULL ,
							Servername		sysname,-- = NULL ,
							EventDate		datetime,
							InsertDate		datetime
						)

					
	
--	select @sql = 'SELECT srvname  FROM sys.sysservers where srvname = @servername'
	set @servername = @servername
    
	set @sql = @servername + 'exec master.sys.xp_readerrorlog '
	


insert into ##ServerErrorLog
(ErrorLogText, ContinuationRow)
exec @sql
select * from ##ServerErrorLog
drop table ##ServerErrorLog

update ##ServerErrorLog
set Servername = @servername
where Servername IS NULL


insert into ##ServerHistory
(ErrorLogText, Servername, EventDate)
select 
CASE WHEN ErrorLogText LIKE '%Database backed up%' THEN SUBSTRING(ErrorLogText,34,20) + 
SUBSTRING(ErrorLogText,64,CHARINDEX(',',ErrorLogText,64)-64)
WHEN ErrorLogText LIKE '%DBCC CHECKDB%' THEN RTRIM(SUBSTRING(ErrorLogText,34,221))
WHEN ErrorLogText like '%BACKUP FAILED%' THEN SUBSTRING(ErrorLogText,34,256)
END,
ServerName, 
SUBSTRING(ErrorLogText,1,22)
from ServerErrorLog
where ErrorLogText like '%Database backed up%'
or ErrorLogText like '%DBCC CHECKDB%'
or ErrorLogText like '%BACKUP FAILED%'

drop table ##ServerErrorLog
drop table ##sname
drop table ##ServerHistory

GO



/*
drop table ##ServerErrorLog
drop table ##ServerHistory
==================================================================================================
Execute sp_addlinkedserver 'pk-khi-anaseem1'

Create a linked server by using sp_addlinkedserver

Declare @remorteserver varchar(1000)

SET @remorteserver = 'SELECT srv.name FROM sys.servers srv '

EXEC (@remorteserver)



use dba_perform
execute prGetErrorLog 'PK-KHI-SHAMILH'

exec Usp_GetErrorLog 'pk-khi-anaseem1'


SELECT * FROM sys.servers srv


select * from ##sname

================================================================================================
select * from ##ServerHistory

SELECT srv.name FROM sys.servers srv 


SELECT srv.name FROM sys.servers srv WHERE srv.server_id = 'pk-khi-anaseem1'


SELECT srv.name FROM sys.servers srv WHERE srv.server_id = 'pk-khi-anaseem1'  AND srv.name = N'CONVERTSDB'



Create a linked server by using sp_addlinkedserver

Declare @remorteserver varchar(1000)

SET @remorteserver = 'SELECT srv.name FROM sys.servers srv '

EXEC (@remorteserver)



sp_helptext sp_addlinkedserver

*/


--SELECT name  FROM sys.servers srv where name = 'pk-khi-anaseem1'


--select * from sys.sysservers

-- sp_help sysservers

--sp_help xp_readerrorlog